{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watch List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="https://st3.depositphotos.com/29384342/35172/v/450/depositphotos_351728348-stock-illustration-clock-icon-design-vector.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/4779/4779116.png" alt="Bootstrap" width="50" height="50">
    </a>
  </div>
</nav>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Главная</a>
        </li>
           <a class="nav-link admin" aria-current="page" href="/admin">Админ-меню</a>
        <li class="nav-item">
          <a class="nav-link book" aria-current="page" href="/program_book/">Библиотека</a>
        <li class="nav-item">
          <a class="nav-link" href="/create_watch/">Добавить Часы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registration/">Регистрация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/">Вход</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Выпадающий список
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/reviews/add/">Добавить отзыв</a></li>
            <li><a class="dropdown-item" href="start_parsing/">Фильмы</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">1</a></li>
            <li><a class="dropdown-item" href="#">2</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Отключенная</a>
        </li>
      </ul>
      <form action="{% url 'Search' %}" method="GET" class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="q" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>

