<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Program Book</title>
</head>
<body>
<h1>Список книг 📚</h1>
<h3>____________________________________________________________________________________________________________________________________________</h3>
{% for i in book_key %}
<center>
    <h2>{{i.title}}</h2>

    <p>{{i.description}}</p>
    <img src="{{i.image.url}}" alt="image_program book" width="400" height="400">
    <b><p>{{i.created_at}}</p></b>
    <h3>____________________________________________________________________________________________________________________________________________</h3>
</center>
{% endfor %}

</body>
</html>